@use '../vendors/fonts';

$font-headings: 'Cormorant', serif;
$font-body: 'Mulish', sans-serif;

$color-primary: rgb(61, 28, 17);
$color-secondary: rgb(210, 189, 182);
$color-rust: rgb(116, 60, 24);
$color-rust--light: rgb(140, 101, 72);
$color-grey: rgb(90, 88, 92);
